<!DOCTYPE html>

<html>
	<head>
		<title> Hello there </title>
		<link href="css/bootstrap.min.css" rel="stylesheet"> 

	<head>
	<body>
	{{foo}}
		<div class="container-fluid">
		  <div class="row-fluid">
		    <div class="span11">
		    hi there
		    <div class="btn-group">
				  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
				    Action
				    <span cladss="caret"></span>
				  </a>
				  <ul class="dropdown-menu">
				    <!-- dropdown menu links -->
				  </ul>
				</div>
		    </div>
		    <div class="span1" bgcolor = "#000000">
		      hello
		      <button class="btn btn-large" type="button">Large button</button>
		      <div class="content">
		      	{% block main %}
		      	bla bla bla
		      	{% endblock %}
		      </div>
		    </div>
		  </div>
		</div>
	<body>
<html>