.leftimg	{
	float: left;
	margin: 7px 7px 7px 0;
	color: red;
}
.Minor	{
	color: gray;
	margin-right: 50px;
}

.Brd	{
	border: 3px double lightgray;
	padding: 10px;
}

.BackQue {
	display: inline-block;
	width:100%;
}
