<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<title>Тест</title>
		 <link href="/css/bootstrap.min.css" rel="stylesheet">
		 <link rel="stylesheet" href="style.css" >
	</head>
	<body>
		<div class="navbar">
		  <div class="navbar-inner">
			<div class="container">
		 
				<!-- .btn-navbar is used as the toggle for collapsed navbar content -->
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<!--span class="icon-bar"></span>
					<span class="icon-bar"></span-->
					<!--span class="icon-bar"></span-->
				</a>
		 
				<!-- Be sure to leave the brand out there if you want it shown -->
				<a class="brand" href="/" ><h2>Ask Project</h2></a>
		 
				<!-- Everything you want hidden at 940px or less, place within here -->
				<div class="nav-collapse">
					<button type="button" class="btn btn-success btn-large"  style="float:left; margin-top: 16px"> Ask! </button>
					<form class="navbar-search pull-right">
						<input type="text" class="search-query" placeholder="Поиск">
					</form>
				</div>
		 
			</div>
		  </div>
		</div>
		<div class="container">
			<div class="row">
				<div class="span8">
					{% block main %}
					{% endblock %}
				</div>
				<div class="span3 offset1">
					<!--p><h3> Личный кабинет </h3></p>
					<div class="btn-group">
						<a href="/login"> <div type="button" class="btn"> Войти </div> </a>
						<a href="/singup"> <div type="button" class="btn"> Регитсрация </div> </a>
					</div-->
					<p><h3> Личный кабинет </h3></p>
					<p><img src="http://lorempixel.com/150/150/" class="img-circle" style="position:relative;"></p>
					<p> Vasya Pupkin <a href="#"><i class="icon-cog"> </i> </a> </p>
					<p><h3> Популярные теги </h3></p>
					<ul>
						<li> Testin' </li>
						<li> Testin' </li>
						<li> Testin' </li>
					</ul>
					<p><h4> Топ отвечающих </h4></p>
					<ul>
						<li> Testin' </li>
						<li> Testin' </li>
						<li> Testin' </li>
					</ul>
				</div>			
		</div>
	</body>
</html>	