{% extends "base.html" %}

{% block main %}
<div>
	<div class="BackQue">
		<img src="http://lorempixel.com/150/150/" class="img-rounded leftimg">
		<h2> How to rock you? </h2>
		We will rock you 
		</div>

		</div>
	<p align="right" class="Minor"> Tags: <a href="/"> Hello </a> </p>
	<br> <br> <br> <br>
<div>
	<ul class="pager">
	  <li class="previous">
		<a href="#">&larr; Назад</a>
	  </li>
	  <li class="next">
		<a href="#">Вперед &rarr;</a>
	  </li>
	</ul>
</div>
{% endblock %}