{% extends "base.html" %}

{% block main %}

<form class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="inputEmail">Email</label>
    <div class="controls">
      <input type="text" id="inputEmail" placeholder="Email">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputPassword">Пароль</label>
    <div class="controls">
      <input type="password" id="inputPassword" placeholder="Пароль">
    </div>
    <br>
    <div class="controls">
      <input type="password" id="inputPassword" placeholder="Повторите пароль">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <label class="checkbox">
        <input type="checkbox"> Я согласен продать душу
      </label>
      <div>
      	<button type="submit" class="btn">Войти</button>
      </div>
    </div>
  </div>
</form>
{% endblock %}